page-home {
    
     #section{
      //  background-image: url('../../assets/imgs/backG.jpg');
      size: 100%;
        // background: color($colors, backBlue)
    }
    #top{
        
      background: color($colors, backBlue)
    }
    
    .b{
      //   background: color($colors, light);
        padding-bottom: 15%;
        padding-right: 60%;
        max-width: 100%;
       background: color($colors, backBlue)
    }
    
    #one{
         background: color($colors, Olypic )
    }
    #two{
         background: color($colors, Azurel )
    }
    #three{
         background: color($colors, Sapphire )
    }
    #four{
         background: color($colors, Egyptian )
    }
    
    p {
    display: block;
    margin-top: 7em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}


h2{
    
    padding-bottom: 10%;
} 
h1{
    
         padding-top:5%;
}


//@keyframes bgcolor {
//    0% {
 //       background-color: #45a3e5
//    }

//    30% {
///        background-color: #66bf39
 //   }

 //   60% {
//        background-color: #eb670f
//    }
//
//    90% {
//        background-color: #f35
//    }
//
//    100% {
//        background-color: #864cbf
//    }
//}

#section {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
    
    
    
    
}
